{
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "prefer-const": "warn",
    "no-unused-vars": "warn",
    "no-console": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"],
        "extensions": [".js"]
      }
    }
  },
  "env": {
    "browser": true,
    "es6":true,
    "commonjs": true
  }
}